@model BookManagerApp.Models.Book
@{
    ViewBag.Title = "Book Details";
}

<div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-header bg-info text-white">
            <h4>📖 Book Details</h4>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">📘 Title:</dt>
                <dd class="col-sm-9">@Model.Title</dd>

                <dt class="col-sm-3">✍️ Author:</dt>
                <dd class="col-sm-9">@Model.Author</dd>

                <dt class="col-sm-3">📅 Year:</dt>
                <dd class="col-sm-9">@Model.Year</dd>
            </dl>
            <div class="text-end">
                @Html.ActionLink("⬅️ Back to List", "Index", null, new { @class = "btn btn-outline-secondary" })
            </div>
        </div>
    </div>
</div>
